<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite Name" verbose="1" parallel="tests" thread-count="2" configfailurepolicy="continue">
    <test name="Smoke Tests"  annotations="JDK" preserve-order="true">
        <classes>
            <class name="runners.TestRunner" />
        </classes>
    </test>
    <test name="Sanity Tests" annotations="JDK" preserve-order="true">
        <classes>
            <class name="runners.SanityRunner" />
        </classes>
    </test>
</suite>